## .nanorc tjs 2020-06
## https://www.if-not-true-then-false.com/2009/tuning-nano-text-editor-with-nanorc/

# scroll by line
set smooth

# indent
set autoindent

# easy backup (ficheiro~)
set backup

# one line more for content
set morespace

# hide shortcut help
# set nohelp

# tab 4 spaces
set tabsize 4

# convert tabs to spaces on insertion
set tabstospaces

##########
#sintax

## Nanorc files
include "/usr/share/nano/nanorc.nanorc"
## C/C++
include "/usr/share/nano/c.nanorc"
## HTML
include "/usr/share/nano/html.nanorc"
## TeX
include "/usr/share/nano/tex.nanorc"
## Quoted emails (under e.g. mutt)
include "/usr/share/nano/mutt.nanorc"
## Patch files
include "/usr/share/nano/patch.nanorc"
## Manpages
include "/usr/share/nano/man.nanorc"
## Groff
include "/usr/share/nano/groff.nanorc"
## Perl
include "/usr/share/nano/perl.nanorc"
## Python
include "/usr/share/nano/python.nanorc"
## Ruby
include "/usr/share/nano/ruby.nanorc"
## Java
include "/usr/share/nano/java.nanorc"
## Assembler
include "/usr/share/nano/asm.nanorc"
## Bourne shell scripts
include "/usr/share/nano/sh.nanorc"
## POV-Ray
include "/usr/share/nano/pov.nanorc"